<html>
	<head>
	    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Kanit|Raleway" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="static/js/jquery.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
	</head>
	<style>
		body {
		padding-top: 50px;
		background: url(https://www.toptal.com/designers/subtlepatterns/patterns/congruent_outline.png) repeat 0 0;
		}
		container {
		color: white
		}
		col-md-4 {
		color: white
		}
		.name {
		color: white;
		margin: auto;

		}
		.button {
		color: black
		}
			.field_text {
		color: black
		}	
			</style>
   <body>
<div class="container-fluid">
  <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">User Search</h1>
        <p class="lead text-muted">Access user's in our database to view their page on this web service. If the user is not our database, you will be prompted to add the user to the database and service (if you chose to do so).</p>
        	{% if error %}
    <script>confirm("User not found. Would you like to add this user to the service?"); </script>
  {% endif %}
        <p>
        <form class="form-inline" action = "http://localhost:5000/result" method = "POST" autocomplete="on" >
  <div class="form-group">
    <label class="sr-only">Username</label>
    <div class="input-group">
      <div class="input-group-addon">@</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="userName" name = "SCREEN_NAME">
      <div class="input-group-addon"></div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </p>
      </div>
    </section>
   </body>
</html>
