{% extends 'base.html' %}

{% block container %}
  <!-- <div class="top-pad">
    {% for user in user_profiles %}
      <div class="well">
        <h2>
          <a href="{{ url_for('user', key=user) }}">{{user_profiles['_id'] }}</a>
        </h2>
      </div>
    {% endfor %}
  </div> -->
  <div>
    <h2> Template function with multiple markers </h2>
  {% with map=googlemap_obj("another-map", 37.4419, -122.1419, markers=[(37.4419, -122.1419), (37.4300, -122.1400)]) %}
      {{map.html}}
      {{map.js}}
  {% endwith %}

  <h2> First map generated in view</h2>
  {{mymap.html}}
  </div>
{% endblock %}
